#form-login{
	padding-top : 10%;
	padding-left : 5%; 
	padding-right : 5%; 
	height:80vh !important; 
}

#logo{
	margin-top: 10%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30vh;
}

#left-part{
	height:80vh !important; 	
}