<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/home.css">
</head>
<body>
	<main class="row">
		<div class="navbar-fixed">
			<nav>
			    <div class="nav-wrapper">
			        <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
			      	<ul id="nav-mobile" class="left hide-on-med-and-down">
			        	<li class="active"><a href="http://127.0.0.1:8080/">Accueil</a></li>
			        	<li><a href="/Message">Messagerie<span class="new badge blue" data-badge-caption="">4</span></a></li>
			        	<li><a href="/Project">Projets</a></li>
			        	<li><a href="/Reunion">Réunions</a></li>
			        	<% if(info[1]==1){%><li><a href="/Admin">Administrateur</a></li><%}%>
			      	</ul>

			      	<ul id="nav-mobile" class="right hide-on-med-and-down">
			      		<li><%=info[2] %> <%= info[3]%></li>
			        	<li><a href="/Setting"><i class="material-icons">settings</i></a></li>
			        	<li><a href="/logout"><i class="material-icons">input</i></a></li>
			      	</ul>
			    </div>
			</nav>
		</div>

		<!-- Navbar pour mobile -->
		<ul class="sidenav" id="mobile-nav">
	    	<li class="active"><a href="">Accueil</a></li>
	    	<li><a href="/Message">Messagerie<span class="new badge blue" data-badge-caption="">4</span></a></li>
	    	<li><a href="/Project">Projets</a></li>
	    	<li><a href="/Reunion">Réunions</a></li>
	    	<% if(info[1]==1){%><li><a href="/Admin">Administrateur</a></li><%}%>
	    	<li><a href="/Setting"><i class="material-icons">settings</i></a></li>
	    	<li><a href="/logout"><i class="material-icons">input</i></a></li>
	  	</ul>
	  	<!-- Les articles -->
	  	<div class="container">
	  		<h3>Actualités :</h3>
	  		<div id="actualites">
	  			<div class="row">
	  				<a  href="http://127.0.0.1:8080/article-31" class="col m6 s12">
				    	<div class="card blue lighten-1 hoverable" id="testss">
				        	<div class="card-content white-text">
				         		<span class="card-title">Titre du sujet</span>
				        		<p>Un petit résumé de ce qui sera marqué dans cet article</p>
				        	</div>
				    	</div>
					</a>

	  				<a  href="http://127.0.0.1:8080/article-31" class="col m6 s12">
				    	<div class="card blue lighten-1 hoverable" id="testss">
				        	<div class="card-content white-text">
				         		<span class="card-title">Titre du sujet</span>
				        		<p>Un petit résumé de ce qui sera marqué dans cet article</p>
				        	</div>
				    	</div>
					</a>

	  				<a  href="http://127.0.0.1:8080/article-31" class="col m6 s12">
				    	<div class="card blue lighten-1 hoverable" id="testss">
				        	<div class="card-content white-text">
				         		<span class="card-title">Titre du sujet</span>
				        		<p>Un petit résumé de ce qui sera marqué dans cet article</p>
				        	</div>
				    	</div>
					</a>
				</div>
	  		</div>
	  	</div>

  	</main>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script type="text/javascript">
   		M.AutoInit();
		
	</script>
</body>
</html>